.text-pink {
    color: rgb(255, 192, 203);
    font-size: 20px;
    text-align: center;
}
  
.text-blue {
    color: skyblue;
    text-align: center;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

.google-fonts {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;
}

#text-black {
    font-weight: bold;
}

#second-text-black {
    font-weight: bold;
}
